## 後攻の場合の勝率
---

In [1]:
%matplotlib inline
import pandas as pd
import os
import matplotlib.pyplot as plt

### パラメータ

In [2]:
# 入力ファイル
input_dir_path = u"../../Study/data/"
input_file_name = u"result_score_data.csv"
input_file_path = os.path.join(input_dir_path, input_file_name)

### データの読み込み

In [4]:
result_score_df = pd.read_csv(input_file_path)
result_score_df

,draw,sheet,team,hammer,end1,end2,end3,end4,end5,end6,...,end8,end9,end10,extra1,extra2,score(total),result,year,gender,game_ID
0,Draw #1,A,Sweden,1,0,0,0,0,0,0,...,1,0,X,NaN,NaN,1,-1,2010,Men,1
1,Draw #1,A,France,0,0,1,1,0,2,0,...,0,0,X,NaN,NaN,5,1,2010,Men,1
2,Draw #1,B,China,0,0,0,0,0,0,1,...,0,2,0,NaN,NaN,4,-1,2010,Men,2
3,Draw #1,B,Germany,1,0,0,1,1,1,0,...,1,0,1,NaN,NaN,5,1,2010,Men,2
4,Draw #1,C,Japan,0,0,1,0,1,1,0,...,0,0,1,0.0,NaN,6,-1,2010,Men,3
5,Draw #1,C,Italy,1,1,0,1,0,0,1,...,2,1,0,1.0,NaN,7,1,2010,Men,3
6,Draw #1,D,Norway,0,0,0,0,0,2,0,...,1,1,0,NaN,NaN,4,-1,2010,Men,4
7,Draw #1,D,Scotland,1,0,0,0,2,0,0,...,0,0,2,NaN,NaN,5,1,2010,Men,4
8,Draw #2,A,Italy,0,0,2,0,2,0,1,...,0,0,1,0.0,NaN,6,-1,2010,Men,5
9,Draw #2,A,China,1,1,0,2,0,0,0,...,0,1,0,1.0,NaN,7,1,2010,Men,5
10,Draw #2,B,Canada,1,0,1,0,0,2,0,...,2,1,X,NaN,NaN,6,1,2010,Men,6
11,Draw #2,B,United States of America,0,1,0,0,1,0,0,...,0,0,X,NaN,NaN,3,-1,2010,Men,6
12,Draw #2,C,Switzerland,0,0,0,1,0,1,0,...,0,X,X,NaN,NaN,3,-1,2010,Men,7
13,Draw #2,C,Denmark,1,2,3,0,1,0,1,...,2,X,X,NaN,NaN,9,1,2010,Men,7
14,Draw #2,D,Japan,0,0,1,0,1,0,0,...,0,X,X,NaN,NaN,3,-1,2010,Men,8
15,Draw #2,D,Germany,1,2,0,1,0,1,0,...,5,X,X,NaN,NaN,9,1,2010,Men,8
16,Draw #3,B,Scotland,1,0,2,0,0,0,5,...,1,0,X,NaN,NaN,8,1,2010,Men,9
17,Draw #3,B,Sweden,0,0,0,0,1,1,0,...,0,1,X,NaN,NaN,4,-1,2010,Men,9
18,Draw #3,C,Norway,0,2,0,1,0,3,0,...,2,X,X,NaN,NaN,9,1,2010,Men,10
19,Draw #3,C,France,1,0,0,0,2,0,1,...,0,X,X,NaN,NaN,3,-1,2010,Men,10
20,Draw #4,A,United States of America,1,2,0,1,0,0,0,...,0,1,X,NaN,NaN,7,1,2010,Men,11
21,Draw #4,A,Switzerland,0,0,1,0,2,1,0,...,1,0,X,NaN,NaN,5,-1,2010,Men,11
22,Draw #4,B,Germany,1,0,0,1,0,0,2,...,0,2,0,NaN,NaN,5,-1,2010,Men,12
23,Draw #4,B,Italy,0,0,0,0,2,1,0,...,1,0,1,NaN,NaN,6,1,2010,Men,12
24,Draw #4,C,China,0,0,0,2,0,2,0,...,0,1,1,NaN,NaN,8,1,2010,Men,13
25,Draw #4,C,Japan,1,0,1,0,2,0,2,...,1,0,0,NaN,NaN,6,-1,2010,Men,13
26,Draw #4,D,Canada,0,1,0,4,0,3,0,...,X,X,X,NaN,NaN,8,1,2010,Men,14
27,Draw #4,D,Denmark,1,0,1,0,1,0,1,...,X,X,X,NaN,NaN,3,-1,2010,Men,14
28,Draw #5,A,France,0,0,0,0,0,2,1,...,1,2,0,NaN,NaN,6,-1,2010,Men,15
29,Draw #5,A,Scotland,1,0,0,2,0,0,0,...,0,0,1,NaN,NaN,8,1,2010,Men,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3716,Draw #15,D,Switzerland,1,0,2,0,2,0,2,...,2,0,0,NaN,NaN,8,1,2015,Women,1859
3717,Draw #15,D,Scotland,0,0,0,2,0,1,0,...,0,0,1,NaN,NaN,6,-1,2015,Women,1859
3718,Draw #16,A,Japan,1,1,0,0,0,2,0,...,2,0,X,NaN,NaN,5,-1,2015,Women,1860
3719,Draw #16,A,Canada,0,0,2,2,0,0,1,...,0,1,X,NaN,NaN,8,1,2015,Women,1860
3720,Draw #16,B,Denmark,1,0,0,3,2,2,0,...,X,X,X,NaN,NaN,7,1,2015,Women,1861
3721,Draw #16,B,Norway,0,0,0,0,0,0,1,...,X,X,X,NaN,NaN,1,-1,2015,Women,1861
3722,Draw #16,C,Scotland,1,0,2,0,2,1,0,...,0,0,2,NaN,NaN,10,1,2015,Women,1862
3723,Draw #16,C,Sweden,0,1,0,2,0,0,1,...,2,1,0,NaN,NaN,7,-1,2015,Women,1862
3724,Draw #16,D,Russia,1,2,2,3,0,1,0,...,X,X,X,NaN,NaN,8,1,2015,Women,1863
3725,Draw #16,D,Finland,0,0,0,0,1,0,1,...,X,X,X,NaN,NaN,2,-1,2015,Women,1863
3726,Draw #17,A,China,0,0,0,2,0,1,1,...,2,0,X,NaN,NaN,6,-1,2015,Women,1864
3727,Draw #17,A,Russia,1,2,2,0,2,0,0,...,0,3,X,NaN,NaN,11,1,2015,Women,1864
3728,Draw #17,B,Sweden,1,0,0,1,1,0,0,...,0,2,X,NaN,NaN,5,-1,2015,Women,1865
3729,Draw #17,B,Switzerland,0,0,2,0,0,2,2,...,1,0,X,NaN,NaN,7,1,2015,Women,1865
3730,Draw #17,C,Norway,1,2,0,2,0,0,2,...,0,2,X,NaN,NaN,8,1,2015,Women,1866
3731,Draw #17,C,United States of America,0,0,3,0,0,0,0,...,1,0,X,NaN,NaN,5,-1,2015,Women,1866
3732,Draw #17,D,Japan,1,3,0,0,1,1,0,...,0,1,X,NaN,NaN,10,1,2015,Women,1867
3733,Draw #17,D,Germany,0,0,1,1,0,0,1,...,2,0,X,NaN,NaN,5,-1,2015,Women,1867
3734,Play-off 1/2,B,Switzerland,1,2,0,0,1,0,1,...,0,2,X,NaN,NaN,6,1,2015,Women,1868
3735,Play-off 1/2,B,Canada,0,0,0,1,0,1,0,...,1,0,X,NaN,NaN,4,-1,2015,Women,1868
3736,Play-off 3/4,B,Scotland,0,0,0,0,1,0,0,...,0,0,X,NaN,NaN,2,-1,2015,Women,1869
3737,Play-off 3/4,B,Russia,1,0,0,1,0,1,1,...,2,2,X,NaN,NaN,7,1,2015,Women,1869
3738,Semifinals,B,Canada,1,2,1,0,2,0,0,...,1,0,X,NaN,NaN,7,1,2015,Women,1870
3739,Semifinals,B,Russia,0,0,0,1,0,0,2,...,0,1,X,NaN,NaN,4,-1,2015,Women,1870
3740,Bronze game,B,Scotland,0,0,1,0,0,0,2,...,1,X,X,NaN,NaN,4,-1,2015,Women,1871
3741,Bronze game,B,Russia,1,5,0,1,1,3,0,...,0,X,X,NaN,NaN,13,1,2015,Women,1871
3742,Final,B,Canada,0,0,0,0,0,0,0,...,0,1,0,NaN,NaN,3,-1,2015,Women,1872
3743,Final,B,Switzerland,1,0,1,1,0,0,2,...,0,0,1,NaN,NaN,5,1,2015,Women,1872
3744,Tie-break #1,C,Scotland,0,0,1,1,1,0,0,...,0,3,X,NaN,NaN,9,1,2015,Women,1873
3745,Tie-break #1,C,China,1,1,0,0,0,1,1,...,1,0,X,NaN,NaN,4,-1,2015,Women,1873

### 各大会でのチーム別の勝率を算出

In [19]:
# 勝ち数
win_game_num_df = result_score_df[result_score_df["result"]==1].groupby(["year", "gender", "team"], as_index=False)["draw"].count()
win_game_num_df.rename(columns={"draw":"win"}, inplace=True)
# 試合数
game_num_df = result_score_df.groupby(["year", "gender", "team"], as_index=False)["draw"].count()
game_num_df.rename(columns={"draw":"total"}, inplace=True)

team_df = result_score_df[["year", "gender", "team"]].drop_duplicates()
team_df = pd.merge(left=team_df, right=game_num_df, on=["year", "gender", "team"], how="left")
team_df = pd.merge(left=team_df, right=win_game_num_df, on=["year", "gender", "team"], how="left")

# データがない場合は０
team_df.fillna(value=0, inplace=True)

# 勝率
team_df["winning_percentage"] = team_df["win"] / team_df["total"]

team_df

     year gender                      team  total   win  winning_percentage
0    2010    Men                    Sweden     11   4.0            0.363636
1    2010    Men                    France     11   3.0            0.272727
2    2010    Men                     China     11   3.0            0.272727
3    2010    Men                   Germany     11   5.0            0.454545
4    2010    Men                     Japan     11   1.0            0.090909
5    2010    Men                     Italy     11   3.0            0.272727
6    2010    Men                    Norway     14  11.0            0.785714
7    2010    Men                  Scotland     14  10.0            0.714286
8    2010    Men                    Canada     13  11.0            0.846154
9    2010    Men  United States of America     13   8.0            0.615385
10   2010    Men               Switzerland     11   5.0            0.454545
11   2010    Men                   Denmark     11   7.0            0.636364
12   2014    Men               Switzerland     13   8.0            0.615385
13   2014    Men                    Russia     11   2.0            0.181818
14   2014    Men  United States of America     11   3.0            0.272727
15   2014    Men            Czech Republic     11   6.0            0.545455
16   2014    Men                   Germany     11   5.0            0.454545
17   2014    Men                     China     11   6.0            0.545455
18   2014    Men                  Scotland     11   3.0            0.272727
19   2014    Men                    Sweden     15  10.0            0.666667
20   2014    Men                   Denmark     11   2.0            0.181818
21   2014    Men                    Canada     14   8.0            0.571429
22   2014    Men                    Norway     13  12.0            0.923077
23   2014    Men                     Japan     12   7.0            0.583333
24   2002    Men                    Norway     11   7.0            0.636364
25   2002    Men                   Denmark      9   5.0            0.555556
26   2002    Men               Switzerland      9   5.0            0.555556
27   2002    Men                  Scotland     11   8.0            0.727273
28   2002    Men                   Finland      9   5.0            0.555556
29   2002    Men                    Sweden      9   3.0            0.333333
..    ...    ...                       ...    ...   ...                 ...
294  2005  Women                    Norway     14   9.0            0.642857
295  2005  Women                     Japan     11   3.0            0.272727
296  2005  Women                    Russia     12   7.0            0.583333
297  2005  Women                     China     11   4.0            0.363636
298  2005  Women                   Denmark     11   3.0            0.272727
299  2005  Women                   Finland     11   1.0            0.090909
300  2007  Women  United States of America     12   7.0            0.583333
301  2007  Women                   Denmark     14   9.0            0.642857
302  2007  Women               Switzerland     11   6.0            0.545455
303  2007  Women                    Canada     13  12.0            0.923077
304  2007  Women                     Japan     11   4.0            0.363636
305  2007  Women                   Germany     11   4.0            0.363636
306  2007  Women                     China     11   5.0            0.454545
307  2007  Women                    Russia     11   4.0            0.363636
308  2007  Women            Czech Republic     11   2.0            0.181818
309  2007  Women                     Italy     11   2.0            0.181818
310  2007  Women                  Scotland     13   9.0            0.692308
311  2007  Women                    Sweden     11   6.0            0.545455
312  2015  Women                    Norway     11   1.0            0.090909
313  2015  Women                     China     12   7.0            0.583333
314  2015  Women  United States of America     11   3.0            0.272727
315  2015  Women                    Russia     14  10.0            0.714286
316  2015  Women                   Germany     11   4.0            0.363636
317  2015  Women                    Sweden     11   5.0            0.454545
318  2015  Women                     Japan     11   6.0            0.545455
319  2015  Women               Switzerland     13  12.0            0.923077
320  2015  Women                   Finland     11   2.0            0.181818
321  2015  Women                    Canada     14  10.0            0.714286
322  2015  Women                   Denmark     11   4.0            0.363636
323  2015  Women                  Scotland     14   8.0            0.571429

[324 rows x 6 columns]

In [23]:
# 先攻・後攻がわからないゲームは除く
print("--- data size ---")
print("data size: (%d, %d)" % result_score_df.shape)
filtered_result_score_df = result_score_df[result_score_df["hammer"] != -1]
print("data size(filetered): (%d, %d)" % filtered_result_score_df.shape)

# 試合毎に
win_team_result_score_df = result_score_df[result_score_df["result"]==1][["year", "gender", "team", "game_ID"]]
win_team_result_score_df.rename(columns={"team":"win_team"}, inplace=True)
win_team_result_score_df

--- data size ---
data size: (3746, 21)
data size(filetered): (3728, 21)

      year gender                  win_team  game_ID
1     2010    Men                    France        1
3     2010    Men                   Germany        2
5     2010    Men                     Italy        3
7     2010    Men                  Scotland        4
9     2010    Men                     China        5
10    2010    Men                    Canada        6
13    2010    Men                   Denmark        7
15    2010    Men                   Germany        8
16    2010    Men                  Scotland        9
18    2010    Men                    Norway       10
20    2010    Men  United States of America       11
23    2010    Men                     Italy       12
24    2010    Men                     China       13
26    2010    Men                    Canada       14
29    2010    Men                  Scotland       15
31    2010    Men                    Canada       16
32    2010    Men                   Denmark       17
35    2010    Men                    Norway       18
36    2010    Men                    Norway       19
38    2010    Men                  Scotland       20
40    2010    Men                    Sweden       21
43    2010    Men                   Germany       22
45    2010    Men                   Denmark       23
47    2010    Men  United States of America       24
49    2010    Men               Switzerland       25
51    2010    Men                    Canada       26
52    2010    Men                    Canada       27
54    2010    Men               Switzerland       28
57    2010    Men                    Norway       29
59    2010    Men                  Scotland       30
...    ...    ...                       ...      ...
3686  2015  Women                    Sweden     1844
3688  2015  Women                  Scotland     1845
3691  2015  Women                     Japan     1846
3692  2015  Women                    Canada     1847
3695  2015  Women               Switzerland     1848
3697  2015  Women                     China     1849
3699  2015  Women                    Russia     1850
3701  2015  Women  United States of America     1851
3702  2015  Women                  Scotland     1852
3705  2015  Women  United States of America     1853
3706  2015  Women               Switzerland     1854
3709  2015  Women                     China     1855
3711  2015  Women                   Denmark     1856
3713  2015  Women                    Canada     1857
3715  2015  Women                     China     1858
3716  2015  Women               Switzerland     1859
3719  2015  Women                    Canada     1860
3720  2015  Women                   Denmark     1861
3722  2015  Women                  Scotland     1862
3724  2015  Women                    Russia     1863
3727  2015  Women                    Russia     1864
3729  2015  Women               Switzerland     1865
3730  2015  Women                    Norway     1866
3732  2015  Women                     Japan     1867
3734  2015  Women               Switzerland     1868
3737  2015  Women                    Russia     1869
3738  2015  Women                    Canada     1870
3741  2015  Women                    Russia     1871
3743  2015  Women               Switzerland     1872
3744  2015  Women                  Scotland     1873

[1873 rows x 4 columns]