## 傾向スコアによる後攻の場合の勝率の算出
---

In [1]:
%matplotlib inline
import pandas as pd
import os
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np

/Users/takayuki/.pyenv/versions/anaconda3-4.0.0/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

### パラメータ

In [2]:
# 入力ファイル
input_dir_path = u"../../Study/data/"
input_file_name = u"result_score_data.csv"
input_file_path = os.path.join(input_dir_path, input_file_name)

### データの読み込み

In [3]:
result_score_df = pd.read_csv(input_file_path)
result_score_df

,draw,sheet,team,hammer,end1,end2,end3,end4,end5,end6,...,end8,end9,end10,extra1,extra2,score(total),result,year,gender,game_ID
0,Draw #1,A,Sweden,1,0,0,0,0,0,0,...,1,0,X,NaN,NaN,1,-1,2010,Men,1
1,Draw #1,A,France,0,0,1,1,0,2,0,...,0,0,X,NaN,NaN,5,1,2010,Men,1
2,Draw #1,B,China,0,0,0,0,0,0,1,...,0,2,0,NaN,NaN,4,-1,2010,Men,2
3,Draw #1,B,Germany,1,0,0,1,1,1,0,...,1,0,1,NaN,NaN,5,1,2010,Men,2
4,Draw #1,C,Japan,0,0,1,0,1,1,0,...,0,0,1,0.0,NaN,6,-1,2010,Men,3
5,Draw #1,C,Italy,1,1,0,1,0,0,1,...,2,1,0,1.0,NaN,7,1,2010,Men,3
6,Draw #1,D,Norway,0,0,0,0,0,2,0,...,1,1,0,NaN,NaN,4,-1,2010,Men,4
7,Draw #1,D,Scotland,1,0,0,0,2,0,0,...,0,0,2,NaN,NaN,5,1,2010,Men,4
8,Draw #2,A,Italy,0,0,2,0,2,0,1,...,0,0,1,0.0,NaN,6,-1,2010,Men,5
9,Draw #2,A,China,1,1,0,2,0,0,0,...,0,1,0,1.0,NaN,7,1,2010,Men,5
10,Draw #2,B,Canada,1,0,1,0,0,2,0,...,2,1,X,NaN,NaN,6,1,2010,Men,6
11,Draw #2,B,United States of America,0,1,0,0,1,0,0,...,0,0,X,NaN,NaN,3,-1,2010,Men,6
12,Draw #2,C,Switzerland,0,0,0,1,0,1,0,...,0,X,X,NaN,NaN,3,-1,2010,Men,7
13,Draw #2,C,Denmark,1,2,3,0,1,0,1,...,2,X,X,NaN,NaN,9,1,2010,Men,7
14,Draw #2,D,Japan,0,0,1,0,1,0,0,...,0,X,X,NaN,NaN,3,-1,2010,Men,8
15,Draw #2,D,Germany,1,2,0,1,0,1,0,...,5,X,X,NaN,NaN,9,1,2010,Men,8
16,Draw #3,B,Scotland,1,0,2,0,0,0,5,...,1,0,X,NaN,NaN,8,1,2010,Men,9
17,Draw #3,B,Sweden,0,0,0,0,1,1,0,...,0,1,X,NaN,NaN,4,-1,2010,Men,9
18,Draw #3,C,Norway,0,2,0,1,0,3,0,...,2,X,X,NaN,NaN,9,1,2010,Men,10
19,Draw #3,C,France,1,0,0,0,2,0,1,...,0,X,X,NaN,NaN,3,-1,2010,Men,10
20,Draw #4,A,United States of America,1,2,0,1,0,0,0,...,0,1,X,NaN,NaN,7,1,2010,Men,11
21,Draw #4,A,Switzerland,0,0,1,0,2,1,0,...,1,0,X,NaN,NaN,5,-1,2010,Men,11
22,Draw #4,B,Germany,1,0,0,1,0,0,2,...,0,2,0,NaN,NaN,5,-1,2010,Men,12
23,Draw #4,B,Italy,0,0,0,0,2,1,0,...,1,0,1,NaN,NaN,6,1,2010,Men,12
24,Draw #4,C,China,0,0,0,2,0,2,0,...,0,1,1,NaN,NaN,8,1,2010,Men,13
25,Draw #4,C,Japan,1,0,1,0,2,0,2,...,1,0,0,NaN,NaN,6,-1,2010,Men,13
26,Draw #4,D,Canada,0,1,0,4,0,3,0,...,X,X,X,NaN,NaN,8,1,2010,Men,14
27,Draw #4,D,Denmark,1,0,1,0,1,0,1,...,X,X,X,NaN,NaN,3,-1,2010,Men,14
28,Draw #5,A,France,0,0,0,0,0,2,1,...,1,2,0,NaN,NaN,6,-1,2010,Men,15
29,Draw #5,A,Scotland,1,0,0,2,0,0,0,...,0,0,1,NaN,NaN,8,1,2010,Men,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3716,Draw #15,D,Switzerland,1,0,2,0,2,0,2,...,2,0,0,NaN,NaN,8,1,2015,Women,1859
3717,Draw #15,D,Scotland,0,0,0,2,0,1,0,...,0,0,1,NaN,NaN,6,-1,2015,Women,1859
3718,Draw #16,A,Japan,1,1,0,0,0,2,0,...,2,0,X,NaN,NaN,5,-1,2015,Women,1860
3719,Draw #16,A,Canada,0,0,2,2,0,0,1,...,0,1,X,NaN,NaN,8,1,2015,Women,1860
3720,Draw #16,B,Denmark,1,0,0,3,2,2,0,...,X,X,X,NaN,NaN,7,1,2015,Women,1861
3721,Draw #16,B,Norway,0,0,0,0,0,0,1,...,X,X,X,NaN,NaN,1,-1,2015,Women,1861
3722,Draw #16,C,Scotland,1,0,2,0,2,1,0,...,0,0,2,NaN,NaN,10,1,2015,Women,1862
3723,Draw #16,C,Sweden,0,1,0,2,0,0,1,...,2,1,0,NaN,NaN,7,-1,2015,Women,1862
3724,Draw #16,D,Russia,1,2,2,3,0,1,0,...,X,X,X,NaN,NaN,8,1,2015,Women,1863
3725,Draw #16,D,Finland,0,0,0,0,1,0,1,...,X,X,X,NaN,NaN,2,-1,2015,Women,1863
3726,Draw #17,A,China,0,0,0,2,0,1,1,...,2,0,X,NaN,NaN,6,-1,2015,Women,1864
3727,Draw #17,A,Russia,1,2,2,0,2,0,0,...,0,3,X,NaN,NaN,11,1,2015,Women,1864
3728,Draw #17,B,Sweden,1,0,0,1,1,0,0,...,0,2,X,NaN,NaN,5,-1,2015,Women,1865
3729,Draw #17,B,Switzerland,0,0,2,0,0,2,2,...,1,0,X,NaN,NaN,7,1,2015,Women,1865
3730,Draw #17,C,Norway,1,2,0,2,0,0,2,...,0,2,X,NaN,NaN,8,1,2015,Women,1866
3731,Draw #17,C,United States of America,0,0,3,0,0,0,0,...,1,0,X,NaN,NaN,5,-1,2015,Women,1866
3732,Draw #17,D,Japan,1,3,0,0,1,1,0,...,0,1,X,NaN,NaN,10,1,2015,Women,1867
3733,Draw #17,D,Germany,0,0,1,1,0,0,1,...,2,0,X,NaN,NaN,5,-1,2015,Women,1867
3734,Play-off 1/2,B,Switzerland,1,2,0,0,1,0,1,...,0,2,X,NaN,NaN,6,1,2015,Women,1868
3735,Play-off 1/2,B,Canada,0,0,0,1,0,1,0,...,1,0,X,NaN,NaN,4,-1,2015,Women,1868
3736,Play-off 3/4,B,Scotland,0,0,0,0,1,0,0,...,0,0,X,NaN,NaN,2,-1,2015,Women,1869
3737,Play-off 3/4,B,Russia,1,0,0,1,0,1,1,...,2,2,X,NaN,NaN,7,1,2015,Women,1869
3738,Semifinals,B,Canada,1,2,1,0,2,0,0,...,1,0,X,NaN,NaN,7,1,2015,Women,1870
3739,Semifinals,B,Russia,0,0,0,1,0,0,2,...,0,1,X,NaN,NaN,4,-1,2015,Women,1870
3740,Bronze game,B,Scotland,0,0,1,0,0,0,2,...,1,X,X,NaN,NaN,4,-1,2015,Women,1871
3741,Bronze game,B,Russia,1,5,0,1,1,3,0,...,0,X,X,NaN,NaN,13,1,2015,Women,1871
3742,Final,B,Canada,0,0,0,0,0,0,0,...,0,1,0,NaN,NaN,3,-1,2015,Women,1872
3743,Final,B,Switzerland,1,0,1,1,0,0,2,...,0,0,1,NaN,NaN,5,1,2015,Women,1872
3744,Tie-break #1,C,Scotland,0,0,1,1,1,0,0,...,0,3,X,NaN,NaN,9,1,2015,Women,1873
3745,Tie-break #1,C,China,1,1,0,0,0,1,1,...,1,0,X,NaN,NaN,4,-1,2015,Women,1873

### チームの強さとして、各大会でのチーム別の勝率を算出（ラウンドロビンのみ）

In [4]:
round_robin_result_df = result_score_df[result_score_df["draw"].str.contains("Draw")]

# 勝ち数
win_game_num_df = round_robin_result_df[round_robin_result_df["result"]==1].groupby(["year", "gender", "team"], as_index=False)["draw"].count()
win_game_num_df.rename(columns={"draw":"win"}, inplace=True)
# 試合数
game_num_df = round_robin_result_df.groupby(["year", "gender", "team"], as_index=False)["draw"].count()
game_num_df.rename(columns={"draw":"total"}, inplace=True)

team_df = round_robin_result_df[["year", "gender", "team"]].drop_duplicates()
team_df = pd.merge(left=team_df, right=game_num_df, on=["year", "gender", "team"], how="left")
team_df = pd.merge(left=team_df, right=win_game_num_df, on=["year", "gender", "team"], how="left")

# データがない場合は０
team_df.fillna(value=0, inplace=True)

# チームの強さ（予選での勝率）
team_df["strength"] = team_df["win"] / team_df["total"]

# 不要なカラムは除く
team_df = team_df[["year", "gender", "team", "strength"]]

team_df

     year gender                      team  strength
0    2010    Men                    Sweden  0.363636
1    2010    Men                    France  0.272727
2    2010    Men                     China  0.272727
3    2010    Men                   Germany  0.454545
4    2010    Men                     Japan  0.090909
5    2010    Men                     Italy  0.272727
6    2010    Men                    Norway  0.909091
7    2010    Men                  Scotland  0.727273
8    2010    Men                    Canada  0.818182
9    2010    Men  United States of America  0.727273
10   2010    Men               Switzerland  0.454545
11   2010    Men                   Denmark  0.636364
12   2014    Men               Switzerland  0.636364
13   2014    Men                    Russia  0.181818
14   2014    Men  United States of America  0.272727
15   2014    Men            Czech Republic  0.545455
16   2014    Men                   Germany  0.454545
17   2014    Men                     China  0.545455
18   2014    Men                  Scotland  0.272727
19   2014    Men                    Sweden  0.636364
20   2014    Men                   Denmark  0.181818
21   2014    Men                    Canada  0.727273
22   2014    Men                    Norway  0.909091
23   2014    Men                     Japan  0.636364
24   2002    Men                    Norway  0.666667
25   2002    Men                   Denmark  0.555556
26   2002    Men               Switzerland  0.555556
27   2002    Men                  Scotland  0.777778
28   2002    Men                   Finland  0.555556
29   2002    Men                    Sweden  0.333333
..    ...    ...                       ...       ...
294  2005  Women                    Norway  0.636364
295  2005  Women                     Japan  0.272727
296  2005  Women                    Russia  0.636364
297  2005  Women                     China  0.363636
298  2005  Women                   Denmark  0.272727
299  2005  Women                   Finland  0.090909
300  2007  Women  United States of America  0.636364
301  2007  Women                   Denmark  0.727273
302  2007  Women               Switzerland  0.545455
303  2007  Women                    Canada  0.909091
304  2007  Women                     Japan  0.363636
305  2007  Women                   Germany  0.363636
306  2007  Women                     China  0.454545
307  2007  Women                    Russia  0.363636
308  2007  Women            Czech Republic  0.181818
309  2007  Women                     Italy  0.181818
310  2007  Women                  Scotland  0.727273
311  2007  Women                    Sweden  0.545455
312  2015  Women                    Norway  0.090909
313  2015  Women                     China  0.636364
314  2015  Women  United States of America  0.272727
315  2015  Women                    Russia  0.727273
316  2015  Women                   Germany  0.363636
317  2015  Women                    Sweden  0.454545
318  2015  Women                     Japan  0.545455
319  2015  Women               Switzerland  0.909091
320  2015  Women                   Finland  0.181818
321  2015  Women                    Canada  0.818182
322  2015  Women                   Denmark  0.363636
323  2015  Women                  Scotland  0.636364

[324 rows x 4 columns]

### 試合毎の形式に変換

In [5]:
# 先攻・後攻がわからないゲームは除く
print("--- data size ---")
print("data size: (%d, %d)" % result_score_df.shape)
filtered_result_score_df = result_score_df[result_score_df["hammer"] != -1]
print("data size(filetered): (%d, %d)" % filtered_result_score_df.shape)

# 試合毎に変換
hammer_team_result_score_df = filtered_result_score_df[filtered_result_score_df["hammer"]==1][["year", "gender", "game_ID", "team", "result"]]
hammer_team_result_score_df = pd.merge(left=hammer_team_result_score_df, right=team_df, on=["year", "gender", "team"])
hammer_team_result_score_df.rename(columns={"team":"hammer_team", "result":"hammer_result", "strength":"hammer_strength"}, inplace=True)
not_hammer_team_result_score_df = filtered_result_score_df[filtered_result_score_df["hammer"]==0][["year", "gender", "game_ID", "team", "result"]]
not_hammer_team_result_score_df = pd.merge(left=not_hammer_team_result_score_df, right=team_df, on=["year", "gender", "team"])
not_hammer_team_result_score_df.rename(columns={"team":"not_hammer_team", "result":"not_hammer_result", "strength":"not_hammer_strength"}, inplace=True)

game_result_df = pd.merge(left=hammer_team_result_score_df, right=not_hammer_team_result_score_df, on=["year", "gender", "game_ID"])
game_result_df

--- data size ---
data size: (3746, 21)
data size(filetered): (3728, 21)

,year,gender,game_ID,hammer_team,hammer_result,hammer_strength,not_hammer_team,not_hammer_result,not_hammer_strength
0,2010,Men,1,Sweden,-1,0.363636,France,1,0.272727
1,2010,Men,18,Sweden,-1,0.363636,Norway,1,0.909091
2,2010,Men,27,Sweden,-1,0.363636,Canada,1,0.818182
3,2010,Men,32,Sweden,-1,0.363636,Denmark,1,0.636364
4,2010,Men,38,Sweden,1,0.363636,Japan,-1,0.090909
5,2010,Men,60,Sweden,1,0.363636,Germany,-1,0.454545
6,2010,Men,2,Germany,1,0.454545,China,-1,0.272727
7,2010,Men,8,Germany,1,0.454545,Japan,-1,0.090909
8,2010,Men,12,Germany,-1,0.454545,Italy,1,0.272727
9,2010,Men,22,Germany,1,0.454545,France,-1,0.272727
10,2010,Men,25,Germany,-1,0.454545,Switzerland,1,0.454545
11,2010,Men,55,Germany,-1,0.454545,United States of America,1,0.727273
12,2010,Men,3,Italy,1,0.272727,Japan,-1,0.090909
13,2010,Men,21,Italy,-1,0.272727,Sweden,1,0.363636
14,2010,Men,39,Italy,-1,0.272727,Switzerland,1,0.454545
15,2010,Men,54,Italy,-1,0.272727,Scotland,1,0.727273
16,2010,Men,59,Italy,1,0.272727,France,-1,0.272727
17,2010,Men,4,Scotland,1,0.727273,Norway,-1,0.909091
18,2010,Men,9,Scotland,1,0.727273,Sweden,-1,0.363636
19,2010,Men,15,Scotland,1,0.727273,France,-1,0.272727
20,2010,Men,20,Scotland,1,0.727273,China,-1,0.272727
21,2010,Men,30,Scotland,1,0.727273,Denmark,-1,0.636364
22,2010,Men,33,Scotland,-1,0.727273,Canada,1,0.818182
23,2010,Men,35,Scotland,1,0.727273,Germany,-1,0.454545
24,2010,Men,48,Scotland,-1,0.727273,United States of America,1,0.727273
25,2010,Men,63,Scotland,-1,0.727273,Switzerland,1,0.454545
26,2010,Men,70,Scotland,1,0.727273,United States of America,-1,0.727273
27,2010,Men,5,China,1,0.272727,Italy,-1,0.272727
28,2010,Men,44,China,1,0.272727,Switzerland,-1,0.454545
29,2010,Men,51,China,-1,0.272727,Sweden,1,0.363636
...,...,...,...,...,...,...,...,...,...
1834,2015,Women,1840,Russia,1,0.727273,Japan,-1,0.545455
1835,2015,Women,1845,Russia,-1,0.727273,Scotland,1,0.636364
1836,2015,Women,1850,Russia,1,0.727273,Germany,-1,0.363636
1837,2015,Women,1863,Russia,1,0.727273,Finland,-1,0.181818
1838,2015,Women,1864,Russia,1,0.727273,China,-1,0.636364
1839,2015,Women,1869,Russia,1,0.727273,Scotland,-1,0.636364
1840,2015,Women,1871,Russia,1,0.727273,Scotland,-1,0.636364
1841,2015,Women,1812,Germany,-1,0.363636,Switzerland,1,0.909091
1842,2015,Women,1823,Germany,1,0.363636,Finland,-1,0.181818
1843,2015,Women,1826,Germany,1,0.363636,United States of America,-1,0.272727
1844,2015,Women,1832,Germany,1,0.363636,Norway,-1,0.090909
1845,2015,Women,1852,Germany,-1,0.363636,Scotland,1,0.636364
1846,2015,Women,1857,Germany,-1,0.363636,Canada,1,0.818182
1847,2015,Women,1814,Finland,1,0.181818,Denmark,-1,0.363636
1848,2015,Women,1817,Finland,1,0.181818,Norway,-1,0.090909
1849,2015,Women,1830,Finland,-1,0.181818,Japan,1,0.545455
1850,2015,Women,1837,Finland,-1,0.181818,Switzerland,1,0.909091
1851,2015,Women,1844,Finland,-1,0.181818,Sweden,1,0.454545
1852,2015,Women,1821,Switzerland,-1,0.909091,Denmark,1,0.363636
1853,2015,Women,1834,Switzerland,1,0.909091,Russia,-1,0.727273
1854,2015,Women,1848,Switzerland,1,0.909091,Norway,-1,0.090909
1855,2015,Women,1854,Switzerland,1,0.909091,Canada,-1,0.818182
1856,2015,Women,1859,Switzerland,1,0.909091,Scotland,-1,0.636364
1857,2015,Women,1868,Switzerland,1,0.909091,Canada,-1,0.818182
1858,2015,Women,1872,Switzerland,1,0.909091,Canada,-1,0.818182
1859,2015,Women,1828,Denmark,-1,0.363636,Sweden,1,0.454545
1860,2015,Women,1839,Denmark,1,0.363636,Germany,-1,0.363636
1861,2015,Women,1855,Denmark,-1,0.363636,China,1,0.636364
1862,2015,Women,1856,Denmark,1,0.363636,United States of America,-1,0.272727
1863,2015,Women,1861,Denmark,1,0.363636,Norway,-1,0.090909

### 先攻チーム・後攻チームの勝率

In [6]:
# 全試合数
game_num = game_result_df.shape[0]

# 勝ち試合数：先攻チーム
not_hammer_win_game_num = game_result_df[game_result_df["not_hammer_result"]==1].shape[0]
# 勝ち試合数：後攻チーム
hammer_win_game_num = game_result_df[game_result_df["hammer_result"]==1].shape[0]

print(u"先攻チーム勝率： %f" % (not_hammer_win_game_num / game_num))
print(u"後攻チーム勝率： %f" % (hammer_win_game_num / game_num))

先攻チーム勝率： 0.431330
後攻チーム勝率： 0.568670

### 先攻チーム・後攻チームの強さの平均

In [7]:
print("先攻チーム強さ（平均）： %f" % game_result_df["not_hammer_strength"].mean())
print("後攻チーム強さ（平均）： %f" % game_result_df["hammer_strength"].mean())

先攻チーム強さ（平均）： 0.502130
後攻チーム強さ（平均）： 0.534243

### 傾向スコアの算出

In [8]:
# 傾向スコア算出用に変換
column_list = ["result", "team", "strength", "opponent_team", "opponent_strength", "hammer"]
# 先攻チーム観点での整理
not_hammer_df = game_result_df[["not_hammer_result", "not_hammer_team", "not_hammer_strength", "hammer_team", "hammer_strength"]].copy()
not_hammer_df["hammer"] = [0] * not_hammer_df.shape[0]
not_hammer_df.columns = column_list
# 後攻チーム観点での整理
hammer_df = game_result_df[["hammer_result", "hammer_team", "hammer_strength", "not_hammer_team", "not_hammer_strength"]].copy()
hammer_df["hammer"] = [1] * not_hammer_df.shape[0]
hammer_df.columns = column_list

calc_target_df = pd.concat([not_hammer_df, hammer_df])
calc_target_df["result"] = calc_target_df["result"].apply(lambda x: 0 if x == -1 else 1)
calc_target_df

,result,team,strength,opponent_team,opponent_strength,hammer
0,1,France,0.272727,Sweden,0.363636,0
1,1,Norway,0.909091,Sweden,0.363636,0
2,1,Canada,0.818182,Sweden,0.363636,0
3,1,Denmark,0.636364,Sweden,0.363636,0
4,0,Japan,0.090909,Sweden,0.363636,0
5,0,Germany,0.454545,Sweden,0.363636,0
6,0,China,0.272727,Germany,0.454545,0
7,0,Japan,0.090909,Germany,0.454545,0
8,1,Italy,0.272727,Germany,0.454545,0
9,0,France,0.272727,Germany,0.454545,0
10,1,Switzerland,0.454545,Germany,0.454545,0
11,1,United States of America,0.727273,Germany,0.454545,0
12,0,Japan,0.090909,Italy,0.272727,0
13,1,Sweden,0.363636,Italy,0.272727,0
14,1,Switzerland,0.454545,Italy,0.272727,0
15,1,Scotland,0.727273,Italy,0.272727,0
16,0,France,0.272727,Italy,0.272727,0
17,0,Norway,0.909091,Scotland,0.727273,0
18,0,Sweden,0.363636,Scotland,0.727273,0
19,0,France,0.272727,Scotland,0.727273,0
20,0,China,0.272727,Scotland,0.727273,0
21,0,Denmark,0.636364,Scotland,0.727273,0
22,1,Canada,0.818182,Scotland,0.727273,0
23,0,Germany,0.454545,Scotland,0.727273,0
24,1,United States of America,0.727273,Scotland,0.727273,0
25,1,Switzerland,0.454545,Scotland,0.727273,0
26,0,United States of America,0.727273,Scotland,0.727273,0
27,0,Italy,0.272727,China,0.272727,0
28,0,Switzerland,0.454545,China,0.272727,0
29,1,Sweden,0.363636,China,0.272727,0
...,...,...,...,...,...,...
1834,1,Russia,0.727273,Japan,0.545455,1
1835,0,Russia,0.727273,Scotland,0.636364,1
1836,1,Russia,0.727273,Germany,0.363636,1
1837,1,Russia,0.727273,Finland,0.181818,1
1838,1,Russia,0.727273,China,0.636364,1
1839,1,Russia,0.727273,Scotland,0.636364,1
1840,1,Russia,0.727273,Scotland,0.636364,1
1841,0,Germany,0.363636,Switzerland,0.909091,1
1842,1,Germany,0.363636,Finland,0.181818,1
1843,1,Germany,0.363636,United States of America,0.272727,1
1844,1,Germany,0.363636,Norway,0.090909,1
1845,0,Germany,0.363636,Scotland,0.636364,1
1846,0,Germany,0.363636,Canada,0.818182,1
1847,1,Finland,0.181818,Denmark,0.363636,1
1848,1,Finland,0.181818,Norway,0.090909,1
1849,0,Finland,0.181818,Japan,0.545455,1
1850,0,Finland,0.181818,Switzerland,0.909091,1
1851,0,Finland,0.181818,Sweden,0.454545,1
1852,0,Switzerland,0.909091,Denmark,0.363636,1
1853,1,Switzerland,0.909091,Russia,0.727273,1
1854,1,Switzerland,0.909091,Norway,0.090909,1
1855,1,Switzerland,0.909091,Canada,0.818182,1
1856,1,Switzerland,0.909091,Scotland,0.636364,1
1857,1,Switzerland,0.909091,Canada,0.818182,1
1858,1,Switzerland,0.909091,Canada,0.818182,1
1859,0,Denmark,0.363636,Sweden,0.454545,1
1860,1,Denmark,0.363636,Germany,0.363636,1
1861,0,Denmark,0.363636,China,0.636364,1
1862,1,Denmark,0.363636,United States of America,0.272727,1
1863,1,Denmark,0.363636,Norway,0.090909,1

In [9]:
# 傾向スコアの算出
y = calc_target_df["hammer"]
X = calc_target_df[["strength", "opponent_strength"]]
lr_model = sm.Logit(y, X)
lr_result = lr_model.fit()
lr_result.summary()

Optimization terminated successfully.
         Current function value: 0.688536
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 hammer   No. Observations:                 3728
Model:                          Logit   Df Residuals:                     3726
Method:                           MLE   Df Model:                            1
Date:                Mon, 01 Jan 2018   Pseudo R-squ.:                0.006652
Time:                        19:23:27   Log-Likelihood:                -2566.9
converged:                       True   LL-Null:                       -2584.1
                                        LLR p-value:                 4.539e-09
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
strength              0.5766      0.103      5.574      0.000       0.374       0.779
opponent_strength    -0.5766      0.103     -5.574      0.000      -0.779      -0.374
=====================================================================================
"""

In [10]:
calc_target_df["PS"] = lr_result.predict(X)
calc_target_df

,result,team,strength,opponent_team,opponent_strength,hammer,PS
0,1,France,0.272727,Sweden,0.363636,0,0.486898
1,1,Norway,0.909091,Sweden,0.363636,0,0.577987
2,1,Canada,0.818182,Sweden,0.363636,0,0.565152
3,1,Denmark,0.636364,Sweden,0.363636,0,0.539234
4,0,Japan,0.090909,Sweden,0.363636,0,0.460766
5,0,Germany,0.454545,Sweden,0.363636,0,0.513102
6,0,China,0.272727,Germany,0.454545,0,0.473814
7,0,Japan,0.090909,Germany,0.454545,0,0.447772
8,1,Italy,0.272727,Germany,0.454545,0,0.473814
9,0,France,0.272727,Germany,0.454545,0,0.473814
10,1,Switzerland,0.454545,Germany,0.454545,0,0.500000
11,1,United States of America,0.727273,Germany,0.454545,0,0.539234
12,0,Japan,0.090909,Italy,0.272727,0,0.473814
13,1,Sweden,0.363636,Italy,0.272727,0,0.513102
14,1,Switzerland,0.454545,Italy,0.272727,0,0.526186
15,1,Scotland,0.727273,Italy,0.272727,0,0.565152
16,0,France,0.272727,Italy,0.272727,0,0.500000
17,0,Norway,0.909091,Scotland,0.727273,0,0.526186
18,0,Sweden,0.363636,Scotland,0.727273,0,0.447772
19,0,France,0.272727,Scotland,0.727273,0,0.434848
20,0,China,0.272727,Scotland,0.727273,0,0.434848
21,0,Denmark,0.636364,Scotland,0.727273,0,0.486898
22,1,Canada,0.818182,Scotland,0.727273,0,0.513102
23,0,Germany,0.454545,Scotland,0.727273,0,0.460766
24,1,United States of America,0.727273,Scotland,0.727273,0,0.500000
25,1,Switzerland,0.454545,Scotland,0.727273,0,0.460766
26,0,United States of America,0.727273,Scotland,0.727273,0,0.500000
27,0,Italy,0.272727,China,0.272727,0,0.500000
28,0,Switzerland,0.454545,China,0.272727,0,0.526186
29,1,Sweden,0.363636,China,0.272727,0,0.513102
...,...,...,...,...,...,...,...
1834,1,Russia,0.727273,Japan,0.545455,1,0.526186
1835,0,Russia,0.727273,Scotland,0.636364,1,0.513102
1836,1,Russia,0.727273,Germany,0.363636,1,0.552228
1837,1,Russia,0.727273,Finland,0.181818,1,0.577987
1838,1,Russia,0.727273,China,0.636364,1,0.513102
1839,1,Russia,0.727273,Scotland,0.636364,1,0.513102
1840,1,Russia,0.727273,Scotland,0.636364,1,0.513102
1841,0,Germany,0.363636,Switzerland,0.909091,1,0.422013
1842,1,Germany,0.363636,Finland,0.181818,1,0.526186
1843,1,Germany,0.363636,United States of America,0.272727,1,0.513102
1844,1,Germany,0.363636,Norway,0.090909,1,0.539234
1845,0,Germany,0.363636,Scotland,0.636364,1,0.460766
1846,0,Germany,0.363636,Canada,0.818182,1,0.434848
1847,1,Finland,0.181818,Denmark,0.363636,1,0.473814
1848,1,Finland,0.181818,Norway,0.090909,1,0.513102
1849,0,Finland,0.181818,Japan,0.545455,1,0.447772
1850,0,Finland,0.181818,Switzerland,0.909091,1,0.396671
1851,0,Finland,0.181818,Sweden,0.454545,1,0.460766
1852,0,Switzerland,0.909091,Denmark,0.363636,1,0.577987
1853,1,Switzerland,0.909091,Russia,0.727273,1,0.526186
1854,1,Switzerland,0.909091,Norway,0.090909,1,0.615804
1855,1,Switzerland,0.909091,Canada,0.818182,1,0.513102
1856,1,Switzerland,0.909091,Scotland,0.636364,1,0.539234
1857,1,Switzerland,0.909091,Canada,0.818182,1,0.513102
1858,1,Switzerland,0.909091,Canada,0.818182,1,0.513102
1859,0,Denmark,0.363636,Sweden,0.454545,1,0.486898
1860,1,Denmark,0.363636,Germany,0.363636,1,0.500000
1861,0,Denmark,0.363636,China,0.636364,1,0.460766
1862,1,Denmark,0.363636,United States of America,0.272727,1,0.513102
1863,1,Denmark,0.363636,Norway,0.090909,1,0.539234

### 傾向スコアと真値との比較

In [11]:
tmp_df = calc_target_df[["hammer", "PS"]].copy()
tmp_df["pred_hammer"] = tmp_df["PS"].apply(lambda x: 1 if x > 0.5 else 0)
tmp_df.pivot_table(index="hammer", columns="pred_hammer", aggfunc="count")

               PS
pred_hammer     0    1
hammer
0            1130  734
1             966  898

### 傾向スコアマッチング

In [15]:
y = calc_target_df["result"]
z1 = calc_target_df["hammer"]
ps = calc_target_df["PS"]
table = pd.concat([ps, z1, y], axis=1)

# 0.05刻みでマッチング
interval = np.arange(0, 1.05, 0.05)

match_list = []
for i in range(0, len(interval)-1):
    # 先攻（非介入群）
    not_hammer_table = table[(table['hammer']==0) & (interval[i] <= table['PS']) & (table['PS'] < interval[i+1])]
    # 後攻（介入群）
    hammer_table = table[(table['hammer']==1) & (interval[i] <= table['PS']) & (table['PS'] < interval[i+1])]
    
    # 先攻・後攻ともデータがある場合
    if (len(not_hammer_table) > 0) & (len(hammer_table) > 0):
        # 介入効果を算出
        match_list.append(hammer_table['result'].mean() - not_hammer_table['result'].mean())

print("後攻をとった場合に勝率に与える効果：")
print(np.mean(match_list))

後攻をとった場合に勝率に与える効果：
0.0433670012741

### IPW推定量の算出

In [16]:
y = calc_target_df["result"]
z1 = calc_target_df["hammer"]
ps = calc_target_df["PS"]

ipwe1 = sum((z1 * y) / ps) / sum(z1 / ps)
ipwe0 = sum(((1 - z1) * y) / (1 - ps)) / sum((1 - z1) / (1 - ps))
ipwe1 - ipwe0

0.078584030354893919

### 元データを使って層別解析

In [33]:
# 0.05刻み
interval1 = np.arange(0, 1.05, 0.05)
interval2 = np.arange(0, 1.05, 0.05)

match_list = []
for i1 in range(0, len(interval1)-1):
    for i2 in range(0, len(interval2)-1):
        # 先攻
        not_hammer_df = calc_target_df[(calc_target_df["hammer"]==0)
                                        & (interval1[i1] <= calc_target_df["strength"])
                                        & (calc_target_df["strength"] < interval1[i1+1])
                                        & (interval2[i2] <= calc_target_df["opponent_strength"])
                                        & (calc_target_df["opponent_strength"] < interval2[i2+1])]
        # 後攻
        hammer_df = calc_target_df[(calc_target_df["hammer"]==1)
                                    & (interval1[i1] <= calc_target_df["strength"])
                                    & (calc_target_df["strength"] < interval1[i1+1])
                                    & (interval2[i2] <= calc_target_df["opponent_strength"])
                                    & (calc_target_df["opponent_strength"] < interval2[i2+1])]
        # 先攻・後攻ともデータがある場合
        if (not_hammer_df.shape[0] > 0) & (hammer_df.shape[0] > 0):
            # 介入効果を算出
            match_list.append(hammer_df['result'].mean() - not_hammer_df['result'].mean())

print("後攻をとった場合に勝率に与える効果：")
print(np.mean(match_list))

後攻をとった場合に勝率に与える効果：
0.0534425086696

### ロジスティック回帰

In [37]:
y = calc_target_df["result"]
X = calc_target_df[["hammer", "strength", "opponent_strength"]]

# モデル作成
lr_model = sm.Logit(y, X)
lr_result = lr_model.fit()
lr_result.summary()

Optimization terminated successfully.
         Current function value: 0.457195
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 result   No. Observations:                 3728
Model:                          Logit   Df Residuals:                     3725
Method:                           MLE   Df Model:                            2
Date:                Mon, 01 Jan 2018   Pseudo R-squ.:                  0.3404
Time:                        23:08:15   Log-Likelihood:                -1704.4
converged:                       True   LL-Null:                       -2584.1
                                        LLR p-value:                     0.000
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
hammer                0.4398      0.081      5.435      0.000       0.281       0.598
strength              5.6344      0.200     28.134      0.000       5.242       6.027
opponent_strength    -6.0077      0.202    -29.792      0.000      -6.403      -5.612
=====================================================================================
"""